/* Estilos generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

h1 {
  color: darkgray;
  font-family: Urbanist, sans-serif;
  font-size: 3rem;
  margin: 1rem;
}

h2 {
  font-family: Urbanist, sans-serif;
  color: gray;
  font-size: 3.5rem;
  margin: 1rem;
  margin-bottom: 5rem;
}

p {
  font-size: 2rem;
  font-family: Urbanist, sans-serif;
  text-align: justify;
  margin: 1rem;
}

img {
  max-width: 100%;
}

.container {
  width: 80%;
  margin: 0 auto;
  max-width: 1320px;
}

/* caracteristicas de header y su animacion*/
.header {
  background-color: rgb(197, 216, 0);
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.header_text {
  font-family: Urbanist, sans-serif;
  color: white;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.5rem 0.5;
}
.header_text:hover {
  opacity: 0.65;
}

.header_logo {
  text-align: left;
}

/* id para menu */
#P1 {
  padding-right: 2rem;
}

/* caracteristicas de footer*/
.footer {
  background-color: rgb(133, 49, 165);
  font-family: Urbanist, sans-serif;
  color: white;
  font-size: 1rem;
  padding-top: 0.5rem;
  text-align: center;
  margin: 0.5rem;
}

#Ftext2 {
  font-size: 1rem;
}

.Icons {
  font-size: 1.5rem;
  padding: 1rem;
  text-align: right;
  margin-top: -3rem;
}

/* texto pagina Index */

.Portadalogo {
  max-width: 80%;
  max-height: 100%;
  text-align: center;
}

.Logo:hover {
  opacity: 0.35;
}

.Logo {
  padding-top: 22.5%;
  padding-bottom: 22.5%;
}
/* texto pagina conocenos */

.Text1 {
  font-size: 2rem;
  text-align: justify;
  padding: 3rem;
}

/* texto pagina Productos */

.producttittle {
  color: rgb(51, 47, 47);
  font-size: 2.5rem;
  margin: 1rem;
  text-align: center;
  margin-top: 5rem;
}

.Productdesc {
  margin-top: 3rem;
  max-width: 100%;
}

.Papersproduct {
  font-size: 1.5rem;
  font-family: Urbanist, sans-serif;
  text-align: center;
}

.Container_logo {
  max-width: 100%;
  max-height: 100%;
  display: grid;
  text-align: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.Flex_Container_desc {
  display: grid;
}

/* texto pagina Biobest Digital */

.Videos {
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.Flex_container4_1 {
  display: grid;
}

/* Cada video es resposive */
#Videos_1 {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}
#Videos_1 iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#Videos_2 {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}
#Videos_2 iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#Videos_3 {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}
#Videos_3 iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#Videos_4 {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}
#Videos_4 iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* texto pagina Knowledge Center */
/* Este id esta utilizado en varias partes por que no tengo todavia las imagenes */
#Prox {
  font-family: Urbanistic, sans-serif;
  font-weight: bold;
  font-size: 3rem;
  text-align: center;
}

.Formulario1 {
  font-size: 1.5rem;
  font-family: Urbanist, sans-serif;
  text-align: left;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  border: none;
  width: 30%;
  height: 30%;
}

.Flex_container5 {
  display: flex;
  justify-content: space-between;
}

/* Texto pagina Contacto */

.Formulario2 {
  font-size: 1.5rem;
  font-family: Urbanist, sans-serif;
  text-align: left;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  border: none;
  width: 30%;
  height: 30%;
}

.Domicilio {
  font-size: 1.5rem;
  font-family: Urbanist, sans-serif;
  text-align: center;
}

.Maps {
  text-align: left;
  margin: 2rem;
  width: 45%;
  height: 30%;
}

.Flex_container6 {
  display: grid;
  justify-items: left;
}

/* ANIMACIONES */

.contenedorani {
  color: #ffffff;
  font-size: 3rem;
  text-transform: uppercase;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.animacion {
  height: 48px;
  overflow: hidden;
  margin-left: 1rem;
}

.animacion > div > div {
  padding: 0.25rem 0.75rem;
  height: 4rem;
  margin-bottom: 3rem;
  display: inline-block;
}

.animacion div:first-child {
  animation: text-animation 8s infinite;
}

.first div {
  background-color: rgb(197, 216, 0);
}
.second div {
  background-color: rgb(133, 49, 165);
}
.third div {
  background-color: rgb(63, 89, 39);
}

@keyframes text-animation {
  0% {
    margin-top: 0;
  }
  10% {
    margin-top: 0;
  }
  20% {
    margin-top: -6rem;
  }
  30% {
    margin-top: -6rem;
  }
  40% {
    margin-top: -11.5rem;
  }
  60% {
    margin-top: -11.5rem;
  }
  70% {
    margin-top: -6rem;
  }
  80% {
    margin-top: -6rem;
  }
  90% {
    margin-top: 0;
  }
  100% {
    margin-top: 0;
  }
}
/* final animacion */
.buttonenviar:hover {
  background-color: green;
}

.buttonborrar:hover {
  background-color: red;
}

/* MEDIA QUERIES */
/* Pantalla pequella */

/* Pantalla grande */
@media (min-width: 1024px) {
  .Flex_container_menu {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .header_text {
    font-size: 2rem;
  }
  h1 {
    font-size: 4.2rem;
  }
  h2 {
    font-size: 5rem;
  }
  .footer {
    font-size: 1.5rem;
  }
  #Ftext2 {
    font-size: 1.5rem;
  }
  .Icons {
    font-size: 3rem;
    margin-top: -4rem;
  }
  /* Contacto */
  .Flex_container6 {
    display: flex;
  }

  .Maps {
    display: flex;
    align-items: center;
  }

  .Domicilio {
    font-size: 2rem;
    font-family: Urbanist, sans-serif;
    text-align: center;
  }

  /* Productos */
  .Container_logo {
    max-width: 1000rem;
    max-height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10rem;
    margin-bottom: 10rem;
  }

  .Flex_Container_desc {
    display: flex;
  }

  .Productdesc {
    margin-top: 10rem;
    max-width: 50%;
  }

  .Papersproduct {
    text-align: right;
  }
}
/* De biobest digital se hicieron responsive cada video */
/* LO RESPOSIVE ESTA PENSADO EN DOS MEDIDAS 768PX Y 1024PX!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
